
// $light:#ffffff;

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
#body-content, #navbar{
    background-color: #e1e8eb ;
}
.bottom_shadow{
    -webkit-box-shadow: 1px 2px 2px 0px #999;
    -moz-box-shadow: 1px 2px 2px 0px #999;
    box-shadow: 1px 2px 2px 0px #999;
}
.right_shadow{
    z-index: 2;
    box-shadow: 1px 0px 2px 0px #999;
    -webkit-box-shadow: 1px 0px 2px 0px #999;
    -moz-box-shadow: 1px 0px 2px 0px #999;
}
img{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: 360px;
    // min-height: 100vh
}

.active {
    background-color: #6c757d !important; 
    border-color: #6c757d;
  }
.between-center-flex-md{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width: 768px) {
    /* For mobile: */
    .between-center-flex-md{
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
  }


  .slide-fade-enter-active {
    transition: all 0.3s ease;
  }
  .slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }