
// $light:#ffffff;

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
img{
    height: 100%;
}
*{
    box-sizing: border-box;
}
body{
    min-width: 360px;
}